body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    padding-top: 25px;
    padding-bottom: 25px;
    display: inline-block;
    color: #1C2D33;
    width: 1200px;
    margin-left: calc(50% - 600px);
}

.logo{
    float: left;
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
}

.menu{
    float: right;
    width: 35%;
    margin-right: 5%;
    text-align: right;
}

.menu-item{
    text-decoration: none;
    color: black;
    margin-left: 5%;
}

.left-column{
    float: left;
    width:35%;
    margin-left: 5%;
    margin-top: 120px;
}

.title{
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
}

span{
    font-weight: bold;
    display: block;
}

.title::after{
    display: block;
    content: '';
    width: 3em;
    height: 2px;
    background-color: #6ABDDD;
}

.description{
    margin-bottom: 20px;
}

.button{
    background-color: #6CBEDD;
    float: left;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #6CBEDD;
    border-radius: 20px;
    padding: 10px 20px;
    width: 7em;
    font-weight: bold; 
    text-align: center;
}

.button:last-of-type{
    background-color: #fff;
    color: #1C2D33;
    margin-left: 10px;
}

.right-column{
    float: left;
    width: 50%;
    margin-left: 10%;
}

@media (max-width: 1200px) {
    .container {
        width: 600px;
        margin-left: calc(50% - 300px);
    }
    .menu {
        width: 70%;
    }
    .left-column {
        width: 70%;
        margin-left: 10%;
    }
    .right-column {
        width: 100%;
        margin-left: 0;
    }
}